.nav14{

    margin-top: -809px;
    --bs-bg-opacity: 0 !important;
    
    
        }
    
        .nav15{
    
    color: white!important;
    margin-left: 83px
    
    
        }
    
        .pro{
    
    width: 100%;
    
        }
    
        .btnn{
    
    margin-left: 45px;
    
        }
/*     
        
        .btnn1{
    
            margin-left: 52px;
            
                } 


       */
                .btnn1{
    
                    margin-left: 112px;
                    color: white;
                    height: 45px!important;
                    width: 37px!important;
                    
                        }           
    
       
    
    

                        .eat{

text-decoration: none;


                        }
    
    
    
    @media (min-width: 0px) and (max-width: 576px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: -1px;
        width: 90%;
      }
    
      .btnn1 {
        margin-left: 33px;
        width: 90%;
      }
    }
    
    
    @media (min-width: 577px) and (max-width: 786px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: -1px;
        width: 90%;
      }
    
      .btnn1 {
        margin-left: 33px;
        width: 90%;
      }
    }
    
    
    
    @media (min-width: 786px) and (max-width: 992px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: -1px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 33px;
        width: 100%;
      }
    }
    
    
    @media (min-width: 992px) and (max-width: 1100px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 18px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: 7px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 12px;
        width: 100%;
      }
    }
    
    
    
    @media (min-width: 1100px) and (max-width: 1200px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 18px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: 27px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 53px;
        width: 100%;
      }
    }
    
    
    
    
    @media (min-width: 1200px) and (max-width: 1400px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: 50px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 87px;
        width: 62%;
      }
    }
    
    
    @media (min-width: 1400px) and (max-width: 1500px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: 54px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 119px;
        width: 100%;
      }
    }
    
    
    
    



    .act{
    
        position: absolute;
        display: flex;
        flex-direction: row!important;
        justify-content: space-evenly;
        height: 59px!important;
        width: 99%!important;
        background-color: #BB3228!important;
        /* transform: translate(0%,-1238%)!important; */
    
    }
    
    
    
    
    .act1{
    
     font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: white;
    
    
    }
    
    .act4{
    
        transform: translate(0%,24%);
    display: flex;
    flex-direction: row!important;
    
    }
    
    
    @media (min-width: 0px) and (max-width: 576px) {
    
    
    
        .act{
        
            display: flex;
            flex-direction: row!important;
            justify-content: space-evenly;
            height: 50px!important;
            width: 97%!important;
            background-color: #BB3228!important;
            /* transform: translate(0%,-1535%)!important; */
        
        }
        
        
        
        
        .act1{
        
         font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: white;
        transform: translate(0%,26%);
        
        }
        
        .act4{
        
            transform: translate(0%,26%);
        display: flex;
        flex-direction: row!important;
        
        }
    
    .act5{
    
    height: 20px!important;
    
    }
    
    
     }
    
    
     
    
    @media (min-width: 577px) and (max-width: 786px) {
    
    
    
        .act{
        
    
            position: absolute;
            display: flex;
            flex-direction: row!important;
            justify-content: space-evenly;
            height: 50px!important;
            width: 97%!important;
            background-color: #BB3228!important;
            /* transform: translate(0%,-1535%)!important; */
        
        }
        
        
        
        
        .act1{
        
         font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: white;
        transform: translate(0%,26%);
        
        }
        
        .act4{
        
            transform: translate(0%,26%);
        display: flex;
        flex-direction: row!important;
        
        }
    
    .act5{
    
    height: 20px!important;
    
    }
    
    
     }
    
    
    
    
    @media (min-width: 786px) and (max-width: 992px) {
    
        .act{
        
    
            position: absolute;
            display: flex;
            flex-direction: row!important;
            justify-content: space-evenly;
            height: 50px!important;
            width: 97%!important;
            background-color: #BB3228!important;
            /* transform: translate(0%,-1535%)!important; */
        
        }
    
    
    
    
    
    }
    
    
    @media (min-width: 992px) and (max-width: 1200px) {
    
        .act{
        
    
            position: absolute;
            display: flex;
            flex-direction: row!important;
            justify-content: space-evenly;
            height: 50px!important;
            width: 97%!important;
            background-color: #BB3228!important;
            /* transform: translate(0%,-1535%)!important; */
        
        }
    
    
    
    
    
    }


    .flavor{

        
    font-size: 67px!important;
    margin-top: 161px;
    color: white;
    text-align: center!important;
    
    font-family: 'Poppins', sans-serif;
    
    
    }
    
    .flavor1{
    
        font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 31px;
    text-align: center!important;
    
    
    
    }
    
    @media (min-width: 0px) and (max-width: 600px) {
    
    
    
    
        .flavor{

        
            font-size: 67px!important;
            margin-top: 161px;
            color: white;
            text-align: center!important;
            
            font-family: 'Poppins', sans-serif;
            
            
            }
            
            .flavor1{
            
                font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: white;
            margin-top: 31px;
            text-align: center!important;
            
            
            
            }
    }
    

    
.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px!important;
    height:50px!important;
    border-width:1px;
    color:#fff;
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    background:rgba(255, 255, 255, 1);
color: red;
text-decoration: none;
padding-left: 45px;
padding-top: 7px;
padding-right: 42px;
margin-left: 43%;
padding-bottom: 7px;
font-family: 'Poppins', sans-serif;




  }
  
  .buttonClass:hover {
    background: rgba(255, 255, 255, 1)
  }
                
  @media (min-width: 0px) and (max-width: 587px) {
 


    .buttonClass{

margin-left: 39%;



    } 





}


.sector1{

margin-top:  415px;
 height: 278px!important;
 width:  801px!important;
margin-left: 482px;


}


.sector2{

font-size: 36px;
color: red;
font-family: 'Poppins', sans-serif;
text-align: center;
margin-top: -164px



}

.sector3{

text-align: center;




}

.sector4{



    margin-top:  473px;
    height: 78px!important;
    width:  122px!important;
   margin-left: -954px;
   position: absolute;


}


@media (min-width: 0px) and (max-width: 587px) {






    .sector1{

        margin-top:  415px;
         height: 278px!important;
         width:  100%!important;
        margin-left: 12px;
        
        
        }
        
        
        .sector2{
        
        font-size: 36px;
        color: red;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: -164px
        
        
        
        }
        
        .sector3{
        
        text-align: center;
        
        
        
        
        }
        
        .sector4{
        
        
        
            margin-top:  -230px;
            height: 78px!important;
            width:  9%!important;
           margin-left: -1px;
           position: absolute;
        
        
        }



}



@media (min-width: 588px) and (max-width: 987px) {






    .sector1{

        margin-top:  415px;
         height: 278px!important;
         width:  100%!important;
        margin-left: 12px;
        
        
        }
        
        
        .sector2{
        
        font-size: 36px;
        color: red;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: -164px
        
        
        
        }
        
        .sector3{
        
        text-align: center;
        
        
        
        
        }
        
        .sector4{
        
        
        
            margin-top:  -230px;
            height: 78px!important;
            width:  9%!important;
           margin-left: -1px;
           position: absolute;
        
        
        }



}



@media (min-width: 988px) and (max-width: 1200px) {





    .sector1{

        margin-top:  415px;
         height: 278px!important;
         width:  100%!important;
        margin-left: 12px;
        
        
        }
        
        
        .sector2{
        
        font-size: 36px;
        color: red;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: -164px
        
        
        
        }
        
        .sector3{
        
        text-align: center;
        
        
        
        
        }
        
        .sector4{
        
        
        
            margin-top:  -230px;
            height: 78px!important;
            width:  9%!important;
           margin-left: -1px;
           position: absolute;
        
        
        }


}




@media (min-width: 988px) and (max-width: 1200px) {





    .sector1{

        margin-top:  415px;
         height: 278px!important;
         width:  100%!important;
        margin-left: 12px;
        
        
        }
        
        
        .sector2{
        
        font-size: 36px;
        color: red;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: -164px
        
        
        
        }
        
        .sector3{
        
        text-align: center;
        
        
        
        
        }
        
        .sector4{
        
        
        
            margin-top:  -230px;
            height: 78px!important;
            width:  9%!important;
           margin-left: -1px;
           position: absolute;
        
        
        }


}




@media (min-width: 1200px) and (max-width: 1356px) {





  .sector1{

      margin-top:  415px;
       height: 278px!important;
       width:  100%!important;
      margin-left: 12px;
      
      
      }
      
      
      .sector2{
      
      font-size: 36px;
      color: red;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      margin-top: -164px
      
      
      
      }
      
      .sector3{
      
      text-align: center;
      
      
      
      
      }
      
      .sector4{
      
      
      
          margin-top:  -230px;
          height: 78px!important;
          width:  9%!important;
         margin-left: -1px;
         position: absolute;
      
      
      }


}








.dust3{

    font-family: 'MonteCarlo', cursive;
color: red;
font-size: 29px;
transform: translate(122%,92%);
position: absolute;




}

.dust4{

    transform: translate(21%,90%);
    position: absolute;



}






    
    
    .dust7{
    
        font-family: 'MonteCarlo', cursive;
    color: red;
    font-size: 29px;
    transform: translate(122%,0%);
    position: absolute;
    
    
    
    
    }
    
    .dust8{
    
        transform: translate(21%,52%);
        position: absolute;
    
    
    
    }


    

    
    
    .dust11{
    
        font-family: 'MonteCarlo', cursive;
    color: red;
    font-size: 29px;
    transform: translate(122%,26%);
    position: absolute;
    
    
    
    
    }
    
    .dust12{
    
        transform: translate(21%,66%);
        position: absolute;
    
    
    
    }
    
    
    .dust{


display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 121px;


    }



    @media (min-width: 0px) and (max-width: 576px) {



        .dust{


            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 121px;
            
            
                }


                .dust5{

margin-top:  214px;



                }




                .dust9{

                    margin-top:  214px;
                    
                    
                    
                                    }
                    
                    
                    
                    


    }




    @media (min-width: 577px) and (max-width: 786px) {



        .dust{


            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 121px;
            align-items: center;
            
            
                }


                .dust5{

margin-top:  214px;



                }




                .dust9{

                    margin-top:  214px;
                    
                    
                    
                                    }
                    
                    
                    
                    


    }



    @media (min-width: 787px) and (max-width: 1300px) {



        .dust{


            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 121px;
            align-items: center;
            
            
                }


                .dust5{

margin-top:  214px;



                }




                .dust9{

                    margin-top:  214px;
                    
                    
                    
                                    }
                    
                    
                    
                    


    }



    @media (min-width: 1300px) and (max-width: 1450px) {




        .dust3{

            font-family: 'MonteCarlo', cursive;
        color: red;
        font-size: 29px;
        transform: translate(122%,92%);
        position: absolute;
        
        
        
        
        }
        
        .dust4{
        
            transform: translate(21%,90%);
            position: absolute;
        
        
        
        }
        
        
        
        
        
        
            
            
            .dust7{
            
                font-family: 'MonteCarlo', cursive;
            color: red;
            font-size: 29px;
            transform: translate(122%,0%);
            position: absolute;
            
            
            
            
            }
            
            .dust8{
            
                transform: translate(21%,52%);
                position: absolute;
            
            
            
            }
        
        
            
        
            
            
            .dust11{
            
                font-family: 'MonteCarlo', cursive;
            color: red;
            font-size: 29px;
            transform: translate(122%,26%);
            position: absolute;
            
            
            
            
            }
            
            .dust12{
            
                transform: translate(21%,63%);
                position: absolute;
            
            
            
            }
            
            
            .dust{
        
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 121px;
        
        
            }
        
        
        
        
                    
                    
                    
                                    }
                    
                    
                    
                    



.rise2{

height: 476px;
width: 332px;
margin-top:  159px;



}

.rise3{


    margin-top: 159px;




}

.rise4{

    font-family: 'MonteCarlo', cursive;
    font-size: 36px;



}


.rise5{

width: 403px;
height: 104px;




}


.btn505{

height: 45px;
width: 150px;
border-radius: 50px;
color: red;



}

.rise1{

display: flex;
flex-direction: row;
justify-content: space-evenly;



}


.rise7{

margin-top: 261px;
transform: translate(10%,0%);



}

.rise8{

  font-family: 'Poppins', sans-serif;




}



@media (min-width: 0px) and (max-width: 576px) {




  .rise1{

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    }
    
.rise7{

margin-left: 50%!important;
margin-top: 37px;
transform: translate(-26%,0%);




}




}



@media (min-width: 577px) and (max-width: 810px) {




  .rise1{

    display: flex;
    flex-direction:  column;
    
    align-items: center;
    
    
    
    }
    
.rise7{

margin-top: 37px;
margin-left: 50%!important;
transform: translate(-26%,0%);




}



}



@media (min-width: 811px) and (max-width: 987px) {




  .rise1{

    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    
    
    
    
    }

      
.rise7{

  margin-top: 223px;
margin-left: 66%;
position: absolute;
  transform: translate(-34%,0%);
  
  
  
  }
    


}




@media (min-width: 987px) and (max-width: 1200px) {




  .rise1{

    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    
    
    
    
    }

      
.rise7{

  margin-top: 223px;
margin-left: 29%;
position: absolute;
  transform: translate(10%,0%);
  
  
  
  }
    


}




@media (min-width: 1200px) and (max-width: 1450px) {



  .rise2{

    height: 476px;
    width: 332px;
    margin-top:  159px;
    
    
    
    }
    
    .rise3{
    
    
        margin-top: 159px;
    
    
    
    
    }
    
    .rise4{
    
        font-family: 'MonteCarlo', cursive;
        font-size: 36px;
    
    
    
    }
    
    
    .rise5{
    
    width: 403px;
    height: 104px;
    
    
    
    
    }
    
    
    .btn505{
    
    height: 45px;
    width: 150px;
    border-radius: 50px;
    color: red;
    
    
    
    }
    
    .rise1{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
    
    }
    
    
    .rise7{
    
    margin-top: 261px;
    transform: translate(10%,0%);
    
    
    
    }
    
    .rise8{
    
      font-family: 'Poppins', sans-serif;
    
    
    
    
    }

    


}
 

.max7{

    height: 476px;
    width: 332px;
    margin-top:  159px;
    
}


.btn506{



  height: 45px;
  width: 150px;
  border-radius: 50px;
  color: red;
  


}

.max5{

  font-family: 'Poppins', sans-serif;



}

.max4{

  font-family: 'MonteCarlo', cursive;
  font-size: 36px;




}

.max3{


  width: 403px;
  height: 104px;
  

}

.max1{

display: flex;
flex-direction: row;
justify-content: space-evenly;


}

.max2{

margin-top: 16%;

}


@media (min-width: 0px) and (max-width: 576px) {



  .max1{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    }
    


.max2{


  margin-left: 50%!important;
  margin-top: 37px;
  transform: translate(-26%,0%);
  


}





}

@media (min-width: 577px) and (max-width: 810px) {




  .max1{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    }
    


.max2{


  margin-left: 50%!important;
  margin-top: 37px;
  transform: translate(-26%,0%);
  


}



}


@media (min-width: 811px) and (max-width: 987px) {



  .max1{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    


  }

  .max2{

   
  margin-top: 223px;
  margin-left: 66%;
  position: absolute;
    transform: translate(-34%,0%);


  }


}


.ink1{

height: 208px;
width: 100%;
background-color: black;
align-items: center;
display: flex;
flex-direction: row;
justify-content: space-evenly;






}

.ink2{

width: 120px;
height: 83px;
margin-left: 12px;



}

.ink3{

color: white;
font-family: 'Poppins', sans-serif;
font-size: 22px;
margin-left: 57px;
margin-top: 7%;


}


.ink4{

color: white;
font-family: 'Poppins', sans-serif;
margin-left: 34px;


}

.ink6{

border-color: white!important;


}

@media (min-width: 0px) and (max-width: 576px) {




  .ink2{

    width: 108px;
    height: 83px;
    margin-left: 12px;
    
    
    
    }
    
    .ink3{
    
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-left: 57px;
    margin-top: 7%;
    
    
    }
    
    
    .ink4{
    
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 54px;
    
    
    }





}


.pole{

  margin-top: 45px;




}



.pole2{

  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;



}

.pole3{

  font-family: 'Poppins', sans-serif;
  font-size: 38px;
text-align: center;
color: red;


}

.pole4{

text-align: center;


}

.pole5{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;


}

.pole6{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;


}

.team{

margin-top: 45px;


}


.team2{

  font-family: 'Poppins', sans-serif;
font-size: 25px;
color: red;
text-align: center;


}


.team3{

  font-family: 'Poppins', sans-serif;
font-size: 15px;
text-align: center;



}

.team4{

display: flex;
flex-direction: row;
justify-content: space-evenly;




}

.team9{

width: 100%!important;


}


.exit{

margin-top: 45px;


}




.exit2{


  text-align: center;
  
  
  }
  
  
  .exit3{
  
    
    text-align: center;
    color: red;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    
    
    }
  
    
  .exit4{
  
    
    text-align: center;
    
    
    }
  
  
  
    .bi-arrow-right{
  
  margin-top: -84px;
  margin-left: 101px;
  color: red!important;
  
  
    }
  
  
    .exit6{
  
      font-family: 'Poppins', sans-serif;
      color: red!important;
    
    }
    
  
  
  .exit7{
  
    font-family: 'Poppins', sans-serif;
    color: red!important;
  
  
  }
  
  
  .exit8{
  
    font-family: 'Poppins', sans-serif;
  
  
  }
  
  .exit11{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
  }
  
  
  
  
  
  @media (min-width: 0px) and (max-width: 575px) {
  
  
  
    .exit11{
  
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      
      
      
      }
  
      .exit12{
  
  margin-top: 12px
  
      }
      
  
      .exit10{
  
        margin-top: 12px
        
            }
  
  
  }
  
  
  
  
  
  
  @media (min-width: 576px) and (max-width: 992px) {
  
  
  
    .exit11{
  
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      
      
      
      }
  
      .exit12{
  
  margin-top: 12px
  
      }
      
  
      .exit10{
  
        margin-top: 12px
        
            }
  
  
  }
  
  
  
  
  @media (min-width: 992px) and (max-width: 1400px) {
  
  
  
  
    .exit11{
  
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      
      
      
      }
  
  
  .card{
  
  width: 20rem!important;
  
  }
  
  
  
  }


  
  .opera1{

    height: 124px;
    width: 100%;
    background-color: #E9E9E9;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    
      }
      
      .opera2{
    
    margin-top: 45px!important;
    position: absolute;
    margin-left: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    
    
      }
    
      
    .opera3{
    
      margin-top: 77px!important;
    
      margin-left: 45px;
    
    
    }
    
    .btn56{
    
    height: 55px;
    width: 361px;
    background-color: white;
    
    
    
    }
    
    
    .btn57{
    
      height: 55px;
      width: 207px;
      margin-left: -2px;
      background-color: red;
      color: white;
      
      
      
      }
    
    
    .opera4{
    
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    justify-content: space-evenly;
    margin-right: 80px!important;
    
    
    
    }
    
    .opera5{
    
    
    margin-top: -12px;
    
    }
    
    .opera6{
    
    margin-top: -5px;
    
    }
    
    
    .btn58{
    
    height: 36px;
    width: 31px;
    background-color: white;
    margin-right: -477px;
    position: absolute;
    margin-top: 10px;
    border-radius: 12px;
    
    }
    
    @media (min-width: 0px) and (max-width: 560px) {
    
    
    
      
      .opera1{
    
        height: 124px;
        width: 100%;
        background-color: #E9E9E9;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
        
        
          }
          
    
    
    
    
          .btn57{
    
            height: 55px;
            width: 274px;
            margin-left: -2px;
            background-color: red;
            color: white;
            
            
            
            }
    
            
    .btn58{
    
      height: 36px;
      width: 31px;
      background-color: white;
      margin-right: -406px;
      position: absolute;
      margin-top: 10px;
      border-radius: 12px;
      
      }
       
      
      
    .opera4{
    
      display: flex;
      flex-direction: row;
      margin-top: -5px;
      justify-content: space-evenly;
      margin-right: 80px!important;
      width: 100%;
      
      
      }
    
    
    }
    
    
    
    @media (min-width: 561px) and (max-width: 786px) {
    
    
    
    
      
      .opera1{
    
        height: 124px;
        width: 100%;
        background-color: #E9E9E9;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
        
        
          }
          
    
    
    
    
          .btn57{
    
            height: 55px;
            width: 437px;
            margin-left: -2px;
            background-color: red;
            color: white;
            
            
            
            }
    
            
    .btn58{
    
      height: 36px;
      width: 31px;
      background-color: white;
      margin-right: -406px;
      position: absolute;
      margin-top: 10px;
      border-radius: 12px;
      
      }
       
      
      
    .opera4{
    
      display: flex;
      flex-direction: row;
      margin-top: -5px;
      justify-content: space-evenly;
      margin-right: 80px!important;
      width: 100%!important;
      
      
      }
    
      .btn56 {
        height: 55px;
        width: 304px;
        background-color: white;
    }
    
    
    
    
    
    
    }
    
    
    
    @media (min-width: 787px) and (max-width: 992px) {
    
    
    
    
      
      .opera1{
    
        height: 140px;
        width: 100%;
        background-color: #E9E9E9;
        margin-top: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
        
        
          }
          
    
    
    
    
          .btn57{
    
            height: 55px;
            width: 227px;
            margin-left: 252px;
            background-color: red;
            color: white;
            
            
            
            }
    
            
    .btn58{
    
      height: 36px;
      width: 31px;
      background-color: white;
      margin-right: -406px;
      position: absolute;
      margin-top: 10px;
      border-radius: 12px;
      
      }
       
      
      
    .opera4{
    
      display: flex;
      flex-direction: row;
      margin-top: 44px;
      justify-content: space-evenly;
      margin-right: -19px!important;
      width: 100%!important;
      
      
      }
    
      .btn56 {
        height: 55px;
        width: 169px;
        background-color: white;
     position: absolute;
    
    
    }
    
    
    
    
    
    
    
    }
    
    
    
    
    @media (min-width: 992px) and (max-width: 1200px) {
    
    
      .opera3 {
        margin-top: 77px!important;
        margin-left: 14px;
    }
    
    .opera2 {
      margin-top: 45px!important;
      position: absolute;
      margin-left: 15px;
      font-family: 'Poppins', sans-serif;
      font-size: 19px;
    }
    
    
    
    
    
    }
    
    
    
    .metal1{
    
    height: 387px;
    width: 100%;
    background-color: black;
    
    
    
    
    }
    
    
    .metal2{
    
    
    margin-top: 85px;
    margin-left: 65px;
    
    
    }
    
    .metal3{
    
    
      margin-top: 41px;
      margin-left: 51px;
      color: white;
      
    
    
    }
    
    .metal4{
    
    
       color: white!important;
       margin-top: 45px;
       margin-left: 60px;
    
    
    }
    
    
    .metal7{
    
      font-family: 'Poppins', sans-serif;
      color: white!important;
    
    
    
    }
    
    
    
    .metal8{
    
      font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white!important;
    
    
    }
    
    
    .metal10{
    
      font-family: 'Poppins', sans-serif;
      color: white!important;
    
    
    
    }
    
    
    
    .metal11{
    
      font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white!important;
    
    
    }
    
    
    .metal13{
    
      font-family: 'Poppins', sans-serif;
    
      color: white!important;
    
    
    }
    
    
    
    .metal14{
    
      font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white!important;
    
    
    }
    
    
    
    
    .metal16{
    
      font-family: 'Poppins', sans-serif;
      color: white!important;
    
    
    
    }
    
    
    
    .metal17{
    
      font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
    color: white!important;
    
    }
    
    .metal5{
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 713px!important;
    margin-top: -290px;
    margin-right: 75px;
    
    }
    
    @media (min-width: 1235px) and (max-width: 1500px) {
    
    
    
    
      .metal5{
    
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 713px!important;
        margin-top: -290px;
        margin-right: 75px!important;
        
        
        }
        
    
    
    
    
    
    
    
    }
    
    @media (min-width: 989px) and (max-width: 1234px) {
    
    
    .metal5{
    
    margin-left: 700px!important;
    
    
    }
    
    
    
    .metal6{
    
    margin-left: -126px;
    position: absolute;
    
    
    
    
    }
    
    
    .metal9{
    
      margin-right: 22px;
      
      
      
      
      }
    
      
    .metal12{
    
      margin-right: 45px;
      
      
      
      
      }
    
      
      
    .metal15{
    
      margin-right: 45px;
      
      
      
      
      
      }
      
    
    
    }
    
    @media (min-width: 521px) and (max-width: 989px) {
    
    .metal5{
    
      margin-top: -216px;
    margin-left: 179px!important;
    position: absolute;
    
    
    
    
    }
    
    .metal1{
    
    height: 595px;
    
    
    }
    
    
    .metal6{
    
      margin-left: -126px;
      position: absolute;
      
      
      
      
      }
      
      
      .metal9{
      
        margin-right: 22px;
        
        
        
        
        }
      
        
      .metal12{
      
        margin-right: 45px;
        
        
        
        
        }
      
        
        
      .metal15{
      
        margin-right: 45px;
        
        
        
        
        
        }
        
      
    
      
    }
    
    
    
    
    @media (min-width: 0px) and (max-width: 520px) {
    
      .metal5{
      
        margin-top: -232px;
      margin-left: 179px!important;
      position: absolute;
      
      
      
      
      }
      
      .metal1{
      
      height: 633px;
      
      
      }
      
      
      .metal6{
      
        margin-left: -126px;
        position: absolute;
        
        
        
        
        }
        
        
        .metal9{
        
          margin-right: 22px;
          
          
          
          
          }
        
          
        .metal12{
        
          margin-right: 45px;
          
          
          
          
          }
        
          
          
        .metal15{
        
          margin-right: 45px;
          
          
          
          
          
          }
          
        
      
        
      }
      
      
    
    .wax{
    
    margin-top: 114px;
    height: 71px;
    width: 100%;
    background-color: #C64132;
    
    }
    
    .wax2{
    
    margin-top: 5px;
    position: absolute;
    margin-left: -18px;
    color: white!important;
    
    
    
    
    }
    
    .wax1{
    
    text-align: center;
    transform: translate(0%,50%);
    color: white;
    font-family: 'Poppins', sans-serif;
    
    
    }
    
    
    .wax3{
    
    word-spacing: 22px;
    margin-top: -41px;
    text-align:  right;
    transform: translate(0%,50%);
    color: white;
    font-family: 'Poppins', sans-serif;
    
    }
    
    
    
    @media (min-width: 0px) and (max-width: 520px) {
    
    
    
      .wax{
    
        margin-top: -1px;
        height: 71px;
        width: 100%;
        background-color: #C64132;
        
        }
    
    
    
    
    
    }
    
    
    
    @media (min-width: 520px) and (max-width: 786px) {
    
    
    
      .wax{
    
        margin-top: -1px;
        height: 71px;
        width: 100%;
        background-color: #C64132;
        
        }
    
    
    
    
    
    }
    
    
    @media (min-width: 786px) and (max-width: 992px) {
    
    
    
      .wax{
    
        margin-top: -1px;
        height: 71px;
        width: 100%;
        background-color: #C64132;
        
        }
    
    
    
    
    
    }
    
    
    
    
    @media (min-width: 992px) and (max-width: 1080px) {
    
    
    
      .wax{
    
        margin-top: 52px;
        height: 71px;
        width: 100%;
        background-color: #C64132;
        
        }
    
    
    
    
    
    }
    
    
    
    @media (min-width: 1081px) and (max-width: 1165px) {
    
    
    
      .wax{
    
        margin-top: 52px;
        height: 71px;
        width: 100%;
        background-color: #C64132;
        
        }
    
    
    
    
    
    }
    
    
    
    
    
    
    
    
  
