.nav14{

    margin-top: -809px;
    --bs-bg-opacity: 0 !important;
    
    
        }
    
        .nav15{
    
    color: white!important;
    margin-left: 83px
    
    
        }
    
        .pro{
    
    width: 100%;
    
        }
    
        .btnn{
    
    margin-left: 45px;
    
        }
/*     
        
        .btnn1{
    
            margin-left: 52px;
            
                } 


       */
                .btnn1{
    
                    margin-left: 112px;
                    color: white;
                    height: 45px!important;
                    width: 37px!important;
                    
                        }           
    
       
    .tri{

text-decoration: none;


    }
    
    
    
    
    @media (min-width: 0px) and (max-width: 576px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: -1px;
        width: 90%;
      }
    
      .btnn1 {
        margin-left: 33px;
        width: 90%;
      }
    }
    
    
    @media (min-width: 577px) and (max-width: 786px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: -1px;
        width: 90%;
      }
    
      .btnn1 {
        margin-left: 33px;
        width: 90%;
      }
    }
    
    
    
    @media (min-width: 786px) and (max-width: 992px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: -1px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 33px;
        width: 100%;
      }
    }
    
    
    @media (min-width: 992px) and (max-width: 1100px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 18px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: 7px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 12px;
        width: 100%;
      }
    }
    
    
    
    @media (min-width: 1100px) and (max-width: 1200px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 18px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: 27px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 53px;
        width: 100%;
      }
    }
    
    
    
    
    @media (min-width: 1200px) and (max-width: 1400px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: 50px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 87px;
        width: 62%;
      }
    }
    
    
    @media (min-width: 1400px) and (max-width: 1500px) {
      .nav14 {
        margin-top: -843px!important;
        --bs-bg-opacity: 0 !important;
        
      }
    
      .nav15 {
        color: white !important;
        margin-left: 30px;
        width: 100%;
      }
    
      .pro {
        width: 100%;
        height: 855px;
    
    
      }
    
      .btnn {
        margin-left: 54px;
        width: 100%;
      }
    
      .btnn1 {
        margin-left: 119px;
        width: 100%;
      }
    }
    
    
    
    



    .act{
    
        position: absolute;
        display: flex;
        flex-direction: row!important;
        justify-content: space-evenly;
        height: 59px!important;
        width: 99%!important;
        background-color: #BB3228!important;
        /* transform: translate(0%,-1238%)!important; */
    
    }
    
    
    
    
    .act1{
    
     font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: white;
    
    
    }
    
    .act4{
    
        transform: translate(0%,24%);
    display: flex;
    flex-direction: row!important;
    
    }
    
    
    @media (min-width: 0px) and (max-width: 576px) {
    
    
    
        .act{
        
            display: flex;
            flex-direction: row!important;
            justify-content: space-evenly;
            height: 50px!important;
            width: 97%!important;
            background-color: #BB3228!important;
            /* transform: translate(0%,-1535%)!important; */
        
        }
        
        
        
        
        .act1{
        
         font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: white;
        transform: translate(0%,26%);
        
        }
        
        .act4{
        
            transform: translate(0%,26%);
        display: flex;
        flex-direction: row!important;
        
        }
    
    .act5{
    
    height: 20px!important;
    
    }
    
    
     }
    
    
     
    
    @media (min-width: 577px) and (max-width: 786px) {
    
    
    
        .act{
        
    
            position: absolute;
            display: flex;
            flex-direction: row!important;
            justify-content: space-evenly;
            height: 50px!important;
            width: 97%!important;
            background-color: #BB3228!important;
            /* transform: translate(0%,-1535%)!important; */
        
        }
        
        
        
        
        .act1{
        
         font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: white;
        transform: translate(0%,26%);
        
        }
        
        .act4{
        
            transform: translate(0%,26%);
        display: flex;
        flex-direction: row!important;
        
        }
    
    .act5{
    
    height: 20px!important;
    
    }
    
    
     }
    
    
    
    
    @media (min-width: 786px) and (max-width: 992px) {
    
        .act{
        
    
            position: absolute;
            display: flex;
            flex-direction: row!important;
            justify-content: space-evenly;
            height: 50px!important;
            width: 97%!important;
            background-color: #BB3228!important;
            /* transform: translate(0%,-1535%)!important; */
        
        }
    
    
    
    
    
    }
    
    
    @media (min-width: 992px) and (max-width: 1200px) {
    
        .act{
        
    
            position: absolute;
            display: flex;
            flex-direction: row!important;
            justify-content: space-evenly;
            height: 50px!important;
            width: 97%!important;
            background-color: #BB3228!important;
            /* transform: translate(0%,-1535%)!important; */
        
        }
    
    
    
    
    
    }


    .flavor{

        
    font-size: 67px!important;
    margin-top: 161px;
    color: white;
    text-align: center!important;
    
    font-family: 'Poppins', sans-serif;
    
    
    }
    
    .flavor1{
    
        font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 31px;
    text-align: center!important;
    
    
    
    }
    
    @media (min-width: 0px) and (max-width: 600px) {
    
    
    
    
        .flavor{

        
            font-size: 67px!important;
            margin-top: 161px;
            color: white;
            text-align: center!important;
            
            font-family: 'Poppins', sans-serif;
            
            
            }
            
            .flavor1{
            
                font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: white;
            margin-top: 31px;
            text-align: center!important;
            
            
            
            }
    }
    

    .eon1{

        height: 661px;
width: 689px;
margin-top: 404px;



    }


    .eonx{


        font-family: 'Poppins', sans-serif;
font-size: 25px!important;
margin-top: -42%;
margin-left: 7%;
color: white;

    }

    
    .eonx1{


        font-family: 'Poppins', sans-serif;
margin-top: 1%;
margin-left: 7%;
color: white;
    }


    
    .card{

        height: 455px!important;
width: 32%;
margin-top: 504px;
background-color: white;
margin-left: -182px;



    }



    .eon4{

margin-top: 8%;
margin-left: 8%;
position: absolute;
font-family: 'Poppins', sans-serif;


    }


    .eon5{

height: 38px;
width: 61%;
margin-left: 8%;
margin-top: 19%;

    }

    
    .eon6{

        height: 38px;
        width: 61%;
        margin-top: 12%;
        margin-left: 8%;

        
            }

            
    .eon7{

        height: 38px;
        width: 61%;
        margin-top: 12%;
        margin-left: 8%;

        
            }

            .btn{

height: 38px;
width: 61%;
background-color: red!important;
margin-top: 78%;
margin-left: 8%;
font-family: 'Poppins', sans-serif!important;
position: absolute;


            }

            .eon8{


                margin-top: 4%;
                margin-left: 62%;
                position: absolute;
                
                


            }


            
    .eon2{

        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
            }

            @media (min-width: 987px) and (max-width: 1200px) {


            
            .btn{


margin-top: 103%!important;

            }
            
            
            .eon8{

width: 27%;

            }

            .eon5{

margin-top: 30%;

            }
            
            
            
            
            }


            @media (min-width: 787px) and (max-width: 987px) {


            
                .btn{
    
    
    margin-top: 121%!important;
    
                }
                
                
                .eon8{
    
    width: 27%;
    
                }
    
                .eon5{
    
    margin-top: 36%;
    
                }
                
                
                
                
                }


                @media (min-width: 577px) and (max-width: 786px) {




                    .btn{
    
    
                        margin-top: 153%!important;
                        
                                    }
                                    
                                    
                                    .eon8{
                        
                        width: 27%;
                        
                                    }
                        
                                    .eon5{
                        
                        margin-top: 47%;
                        
                                    }

                                    .eon1{

width: 543px;

                                    }

                                    .card{

                        height: 421px!important;


                                    }
                                    
                                    




                }



                
                @media (min-width: 0px) and (max-width: 577px) {






                 .eonx1{


            margin-top: -12px;


                 }   
                  
    .eon1{

        height: 661px;
width: 100%;
margin-top: 404px;



    }

    
    .card{

        height: 455px!important;
width: 100%;
margin-top: 28px;
background-color: white;
margin-left: -1px;



    }



    .eon4{

margin-top: 8%;
margin-left: 8%;
position: absolute;
font-family: 'Poppins', sans-serif;


    }


    .eon5{

height: 38px;
width: 61%;
margin-left: 8%;
margin-top: 19%;

    }

    
    .eon6{

        height: 38px;
        width: 61%;
        margin-top: 12%;
        margin-left: 8%;

        
            }

            
    .eon7{

        height: 38px;
        width: 61%;
        margin-top: 12%;
        margin-left: 8%;

        
            }

            .btn{

height: 38px;
width: 61%;
background-color: red!important;
margin-top: 78%;
margin-left: 8%;
font-family: 'Poppins', sans-serif!important;
position: absolute;


            }

            .eon8{


                margin-top: 4%;
                margin-left: 62%;
                position: absolute;
                
                


            }


            
    .eon2{

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
            }


                }


                
  
.opera1{

    height: 124px;
    width: 100%;
    background-color: #E9E9E9;
    margin-top: 149px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    
      }
      
      .opera2{
    
    margin-top: 45px!important;
    position: absolute;
    margin-left: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    
    
      }
    
      
    .opera3{
    
      margin-top: 77px!important;
    
      margin-left: 45px;
    
    
    }
    
    .btn56{
    
    height: 55px;
    width: 361px;
    background-color: white;
    
    
    
    }
    
    
    .btn57{
    
      height: 55px;
      width: 207px;
      margin-left: -2px;
      background-color: red;
      color: white;
      
      
      
      }
    
    
    .opera4{
    
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    justify-content: space-evenly;
    margin-right: 80px!important;
    
    
    
    }
    
    .opera5{
    
    
    margin-top: -12px;
    
    }
    
    .opera6{
    
    margin-top: -5px;
    
    }
    
    
    .btn58{
    
    height: 36px;
    width: 31px;
    background-color: white;
    margin-right: -477px;
    position: absolute;
    margin-top: 10px;
    border-radius: 12px;
    
    }
    
    @media (min-width: 0px) and (max-width: 560px) {
    
    
    
      
      .opera1{
    
        height: 124px;
        width: 100%;
        background-color: #E9E9E9;
        margin-top: 149px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
        
        
          }
          
    
    
    
    
          .btn57{
    
            height: 55px;
            width: 274px;
            margin-left: -2px;
            background-color: red;
            color: white;
            
            
            
            }
    
            
    .btn58{
    
      height: 36px;
      width: 31px;
      background-color: white;
      margin-right: -406px;
      position: absolute;
      margin-top: 10px;
      border-radius: 12px;
      
      }
       
      
      
    .opera4{
    
      display: flex;
      flex-direction: row;
      margin-top: -5px;
      justify-content: space-evenly;
      margin-right: 80px!important;
      width: 100%;
      
      
      }
    
    
    }
    
    
    
    @media (min-width: 561px) and (max-width: 786px) {
    
    
    
    
      
      .opera1{
    
        height: 124px;
        width: 100%;
        background-color: #E9E9E9;
        margin-top: 149px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
        
        
          }
          
    
    
    
    
          .btn57{
    
            height: 55px;
            width: 437px;
            margin-left: -2px;
            background-color: red;
            color: white;
            
            
            
            }
    
            
    .btn58{
    
      height: 36px;
      width: 31px;
      background-color: white;
      margin-right: -406px;
      position: absolute;
      margin-top: 10px;
      border-radius: 12px;
      
      }
       
      
      
    .opera4{
    
      display: flex;
      flex-direction: row;
      margin-top: -5px;
      justify-content: space-evenly;
      margin-right: 80px!important;
      width: 100%!important;
      
      
      }
    
      .btn56 {
        height: 55px;
        width: 304px;
        background-color: white;
    }
    
    
    
    
    
    
    }
    
    
    
    @media (min-width: 787px) and (max-width: 992px) {
    
    
    
    
      
      .opera1{
    
        height: 140px;
        width: 100%;
        background-color: #E9E9E9;
        margin-top: 149px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
        
        
          }
          
    
    
    
    
          .btn57{
    
            height: 55px;
            width: 227px;
            margin-left: 252px;
            background-color: red;
            color: white;
            
            
            
            }
    
            
    .btn58{
    
      height: 36px;
      width: 31px;
      background-color: white;
      margin-right: -406px;
      position: absolute;
      margin-top: 10px;
      border-radius: 12px;
      
      }
       
      
      
    .opera4{
    
      display: flex;
      flex-direction: row;
      margin-top: 44px;
      justify-content: space-evenly;
      margin-right: -19px!important;
      width: 100%!important;
      
      
      }
    
      .btn56 {
        height: 55px;
        width: 169px;
        background-color: white;
     position: absolute;
    
    
    }
    
    
    
    
    
    
    
    }
    
    
    
    
    @media (min-width: 992px) and (max-width: 1200px) {
    
    
      .opera3 {
        margin-top: 77px!important;
        margin-left: 14px;
    }
    
    .opera2 {
      margin-top: 45px!important;
      position: absolute;
      margin-left: 15px;
      font-family: 'Poppins', sans-serif;
      font-size: 19px;
    }
    

    .opera1{

margin-top: 149px;
height: 143px;



    }
    
    
    
    }


    
    
    .metal1{
    
        height: 387px;
        width: 100%;
        background-color: black;
        
        
        
        
        }
        
        
        .metal2{
        
        
        margin-top: 85px;
        margin-left: 65px;
        
        
        }
        
        .metal3{
        
        
          margin-top: 41px;
          margin-left: 51px;
          color: white;
          
        
        
        }
        
        .metal4{
        
        
           color: white!important;
           margin-top: 45px;
           margin-left: 60px;
        
        
        }
        
        
        .metal7{
        
          font-family: 'Poppins', sans-serif;
          color: white!important;
        
        
        
        }
        
        
        
        .metal8{
        
          font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: white!important;
        
        
        }
        
        
        .metal10{
        
          font-family: 'Poppins', sans-serif;
          color: white!important;
        
        
        
        }
        
        
        
        .metal11{
        
          font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: white!important;
        
        
        }
        
        
        .metal13{
        
          font-family: 'Poppins', sans-serif;
        
          color: white!important;
        
        
        }
        
        
        
        .metal14{
        
          font-family: 'Poppins', sans-serif;
        font-size: 12px;
        color: white!important;
        
        
        }
        
        
        
        
        .metal16{
        
          font-family: 'Poppins', sans-serif;
          color: white!important;
        
        
        
        }
        
        
        
        .metal17{
        
          font-family: 'Poppins', sans-serif;
        font-size: 12px;
        
        color: white!important;
        
        }
        
        .metal5{
        
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 713px!important;
        margin-top: -290px;
        margin-right: 75px;
        
        }
        
        @media (min-width: 1235px) and (max-width: 1500px) {
        
        
        
        
          .metal5{
        
        
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 713px!important;
            margin-top: -290px;
            margin-right: 75px!important;
            
            
            }
            
        
        
        
        
        
        
        
        }
        
        @media (min-width: 989px) and (max-width: 1234px) {
        
  
.metal18{

margin-top: 1px;

}


        .metal5{
        
        margin-left: 700px!important;
        
        
        }
        
        
        
        .metal6{
        
        margin-left: -126px;
        position: absolute;
        
        
        
        
        }
        
        
        .metal9{
        
          margin-right: 22px;
          
          
          
          
          }
        
          
        .metal12{
        
          margin-right: 45px;
          
          
          
          
          }
        
          
          
        .metal15{
        
          margin-right: 45px;
          
          
          
          
          
          }
          
        
        
        }
        
        @media (min-width: 521px) and (max-width: 989px) {
        




        .metal5{
        
          margin-top: -216px;
        margin-left: 179px!important;
        position: absolute;
        
        
        
        
        }
        
        .metal1{
        
        height: 595px;

        
        }
        
        
        .metal6{
        
          margin-left: -126px;
          position: absolute;
          
          
          
          
          }
          
          
          .metal9{
          
            margin-right: 22px;
            
            
            
            
            }
          
            
          .metal12{
          
            margin-right: 45px;
            
            
            
            
            }
          
            
            
          .metal15{
          
            margin-right: 45px;
            
            
            
            
            
            }
            
          
        
          
        }
        
        
        
        
        @media (min-width: 0px) and (max-width: 520px) {
        
          .metal5{
          
            margin-top: -232px;
          margin-left: 179px!important;
          position: absolute;
          
          
          
          
          }
          
          .metal1{
          
          height: 633px;
          
          
          }
          
          
          .metal6{
          
            margin-left: -126px;
            position: absolute;
            
            
            
            
            }
            
            
            .metal9{
            
              margin-right: 22px;
              
              
              
              
              }
            
              
            .metal12{
            
              margin-right: 45px;
              
              
              
              
              }
            
              
              
            .metal15{
            
              margin-right: 45px;
              
              
              
              
              
              }
              
            
          
            
          }
          
        



    
          .wax{
    
            margin-top: 114px;
            height: 71px;
            width: 100%;
            background-color: #C64132;
            
            }
            
            .wax2{
            
            margin-top: 5px;
            position: absolute;
            margin-left: -18px;
            color: white!important;
            
            
            
            
            }
            
            .wax1{
            
            text-align: center;
            transform: translate(0%,50%);
            color: white;
            font-family: 'Poppins', sans-serif;
            
            
            }
            
            
            .wax3{
            
            word-spacing: 22px;
            margin-top: -41px;
            text-align:  right;
            transform: translate(0%,50%);
            color: white;
            font-family: 'Poppins', sans-serif;
            
            }
            
            
            
            @media (min-width: 0px) and (max-width: 520px) {
            
            
            
              .wax{
            
                margin-top: -1px;
                height: 71px;
                width: 100%;
                background-color: #C64132;
                
                }
            
            
            
            
            
            }
            
            
            
            @media (min-width: 520px) and (max-width: 786px) {
            
            
            
              .wax{
            
                margin-top: -1px;
                height: 71px;
                width: 100%;
                background-color: #C64132;
                
                }
            
            
            
            
            
            }
            
            
            @media (min-width: 786px) and (max-width: 992px) {
            
            
            
              .wax{
            
                margin-top: -1px;
                height: 71px;
                width: 100%;
                background-color: #C64132;
                
                }
            
            
            
            
            
            }
            
            
            
            
            @media (min-width: 992px) and (max-width: 1080px) {
            
            
            
              .wax{
            
                margin-top: 52px;
                height: 71px;
                width: 100%;
                background-color: #C64132;
                
                }
            
            
            
            
            
            }
            
            
            
            @media (min-width: 1081px) and (max-width: 1165px) {
            
            
            
              .wax{
            
                margin-top: 52px;
                height: 71px;
                width: 100%;
                background-color: #C64132;
                
                }
            
            
            
            
            
            }
            
            
            
            
            
            
            
            
          
        
